//Font Family
$light_font-family:"Montserrat",
sans-serif;
$regular_font-family:"Montserrat",
sans-serif;
$medium_font-family:"Montserrat",
sans-serif;
$bold_font-family:"Montserrat",
sans-serif;
$black_font-family:"Montserrat",
sans-serif;

//Font Weight
$light_font-weight: 300;
$regular_font-weight: 400;
$medium_font-weight: 500;
$bold_font-weight: 700;
$black_font-weight: 900;