@font-face {
  font-family: 'CWCLight';
  src: url('../fonts/CWCLight.eot');
  src: url('../fonts/CWCLight.eot') format('embedded-opentype'),
       url('../fonts/CWCLight.woff2') format('woff2'),
       url('../fonts/CWCLight.woff') format('woff'),
       url('../fonts/CWCLight.ttf') format('truetype'),
       url('../fonts/CWCLight.svg#CWCLight') format('svg');
}

@font-face {
  font-family: 'CWCLightItalic';
  src: url('../fonts/CWCLightItalic.eot');
  src: url('../fonts/CWCLightItalic.eot') format('embedded-opentype'),
       url('../fonts/CWCLightItalic.woff2') format('woff2'),
       url('../fonts/CWCLightItalic.woff') format('woff'),
       url('../fonts/CWCLightItalic.ttf') format('truetype'),
       url('../fonts/CWCLightItalic.svg#CWCLightItalic') format('svg');
}

@font-face {
  font-family: 'CWCRegular';
  src: url('../fonts/CWCRegular.eot');
  src: url('../fonts/CWCRegular.eot') format('embedded-opentype'),
       url('../fonts/CWCRegular.woff2') format('woff2'),
       url('../fonts/CWCRegular.woff') format('woff'),
       url('../fonts/CWCRegular.ttf') format('truetype'),
       url('../fonts/CWCRegular.svg#CWCRegular') format('svg');
}

@font-face {
  font-family: 'CWCRegularItalic';
  src: url('../fonts/CWCRegularItalic.eot');
  src: url('../fonts/CWCRegularItalic.eot') format('embedded-opentype'),
       url('../fonts/CWCRegularItalic.woff2') format('woff2'),
       url('../fonts/CWCRegularItalic.woff') format('woff'),
       url('../fonts/CWCRegularItalic.ttf') format('truetype'),
       url('../fonts/CWCRegularItalic.svg#CWCRegularItalic') format('svg');
}

@font-face {
  font-family: 'CWCMedium';
  src: url('../fonts/CWCMedium.eot');
  src: url('../fonts/CWCMedium.eot') format('embedded-opentype'),
       url('../fonts/CWCMedium.woff2') format('woff2'),
       url('../fonts/CWCMedium.woff') format('woff'),
       url('../fonts/CWCMedium.ttf') format('truetype'),
       url('../fonts/CWCMedium.svg#CWCMedium') format('svg');
}

@font-face {
  font-family: 'CWCMediumItalic';
  src: url('../fonts/CWCMediumItalic.eot');
  src: url('../fonts/CWCMediumItalic.eot') format('embedded-opentype'),
       url('../fonts/CWCMediumItalic.woff2') format('woff2'),
       url('../fonts/CWCMediumItalic.woff') format('woff'),
       url('../fonts/CWCMediumItalic.ttf') format('truetype'),
       url('../fonts/CWCMediumItalic.svg#CWCMediumItalic') format('svg');
}

@font-face {
  font-family: 'CWCBold';
  src: url('../fonts/CWCBold.eot');
  src: url('../fonts/CWCBold.eot') format('embedded-opentype'),
       url('../fonts/CWCBold.woff2') format('woff2'),
       url('../fonts/CWCBold.woff') format('woff'),
       url('../fonts/CWCBold.ttf') format('truetype'),
       url('../fonts/CWCBold.svg#CWCBold') format('svg');
}

@font-face {
  font-family: 'CWCBoldItalic';
  src: url('../fonts/CWCBoldItalic.eot');
  src: url('../fonts/CWCBoldItalic.eot') format('embedded-opentype'),
       url('../fonts/CWCBoldItalic.woff2') format('woff2'),
       url('../fonts/CWCBoldItalic.woff') format('woff'),
       url('../fonts/CWCBoldItalic.ttf') format('truetype'),
       url('../fonts/CWCBoldItalic.svg#CWCBoldItalic') format('svg');
}
