//Font Family
$light_font-family: 'CWCLight',
sans-serif;
$light_font-family-it: 'CWCLightItalic',
sans-serif;
$regular_font-family: 'CWCRegular',
sans-serif;
$regular_font-family-it: 'CWCRegularItalic',
sans-serif;
$medium_font-family: 'CWCMedium',
sans-serif;
$medium_font-family-it: 'CWCMediumItalic',
sans-serif;
$bold_font-family: 'CWCBold',
sans-serif;
$bold_font-family-it: 'CWCBoldItalic',
sans-serif;
$black_font-family: 'CWCBold',
sans-serif;
$black_font-family-it: 'CWCBoldItalic',
sans-serif;

//Font Weight
$light_font-weight:initial;
$regular_font-weight:initial;
$medium_font-weight:initial;
$bold_font-weight:initial;
$black_font-weight:initial;

//Secondary Font Family
$medium_font-family-sec: 'Alinea_Incise_Medium',
sans-serif;
$bold_font-family-sec: 'Alinea_Incise_Bold',
sans-serif;

//Secondary Font Weight
$medium_font-weight-sec:inherit;
$bold_font-weight-sec:inherit;

//Secondary Sans Font Family
$medium_font-family-sec-sans: 'Alinea_Sans_Medium_Italic',
sans-serif;
$bold_font-family-sec-sans: 'Alinea_Sans_Bold',
sans-serif;

//Secondary Sans Font Weight
$medium_font-weight-sec-sans:inherit;
$bold_font-weight-sec-sans:inherit;