$icomoon-font-family: "dfi" !default;
$icomoon-font-path: "fonts" !default;

$dfi-reset-transfer: "\e937";
$dfi-contest-pts: "\e935";
$dfi-subs-1: "\e933";
$dfi-lightning: "\e934";
$dfi-booster-clock: "\e930";
$dfi-booster-lock: "\e931";
$dfi-booster-tick: "\e932";
$dfi-history: "\e92e";
$dfi-reset: "\e92f";
$dfi-admin-outline: "\e92c";
$dfi-intro-badge-outline: "\e92d";
$dfi-booster-outline: "\e928";
$dfi-subs-outline: "\e929";
$dfi-jersy-outline: "\e92a";
$dfi-stats-outline: "\e92b";
$dfi-leagues-outline: "\e936";
$dfi-lock: "\e927";
$dfi-badge: "\e925";
$dfi-badge-fill: "\e926";
$dfi-admin-user: "\e924";
$dfi-remove: "\e923";
$dfi-logout: "\e921";
$dfi-share-stroke: "\e922";
$dfi-tab-more: "\e920";
$dfi-uncap: "\e91f";
$dfi-tripleX: "\e91e";
$dfi-stats: "\e915";
$dfi-stats-fill: "\e916";
$dfi-rules: "\e917";
$dfi-rules-fill: "\e918";
$dfi-home: "\e919";
$dfi-home-fill: "\e91a";
$dfi-contests: "\e91b";
$dfi-contests-fill: "\e91c";
$dfi-more: "\e91d";
$dfi-info: "\e914";
$dfi-announcement: "\e913";
$dfi-copy: "\e912";
$dfi-share: "\e911";
$dfi-view-more: "\e910";
$dfi-subs: "\e90c";
$dfi-sub-in: "\e90d";
$dfi-sub-out: "\e90e";
$dfi-injured: "\e90f";
$dfi-list: "\e90a";
$dfi-tick: "\e90b";
$dfi-help: "\e909";
$dfi-search: "\e900";
$dfi-flight: "\e901";
$dfi-filter: "\e902";
$dfi-close: "\e903";
$dfi-aUp: "\e904";
$dfi-aRgt: "\e905";
$dfi-aDw: "\e906";
$dfi-aLft: "\e907";
$dfi-aDown: "\e908";

